<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Añadir formación académica</h1>
      <form [formGroup]="profileConfigForm" (ngSubmit)="save()">
        <label> Idioma:</label>
        <select formControlName="language" class="form-control" name="language">
          <option value="english">Inglés</option>
          <option value="catala">Catalán</option>
          <option value="spanish">Castellano</option>
        </select>

        <input
            type="checkbox" formControlName="selectall"
            name="selectall"
            value="selectall"
            (change)="handleSelected($event)"
          />
          Seleccionar todas<br />
          <label formArrayName="notifications" *ngFor="let notification of f.notifications.controls; let i = index">
              <input type="checkbox" [formControlName]="i">
              {{notifications[i].name}}
            </label>

        <button type="submit" class="btn" [disabled]="!profileConfigForm.valid">
          Guardar
        </button>
        <p>Form Value: {{ profileConfigForm.value | json }}</p>
        <p>Form Status: {{ profileConfigForm.status }}</p>
      </form>
    </div>
  </div>
</div>
