mat-card {
  max-width: 600px;
  margin: 2rem auto 0 auto;
}

mat-form-field, input {
  width: 100%;
  margin-bottom: .6rem;
}
mat-form-field{
  margin-bottom: .5rem;
}

.mat-checkbox{
  display: flex;
  margin-bottom: 1rem;
}
