<form [formGroup]="rForm" (submit)="submit()">
  <mat-form-field>
    <input matInput placeholder="Centro educativo" formControlName="institution">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Título" formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Fecha de obtención del título" formControlName="date">
    <mat-error>
      El formato debe ser DD/MM/AAAA
    </mat-error>
  </mat-form-field>

  <mat-checkbox name="bilingue" formControlName="bilingue">Bilingue</mat-checkbox>

  <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
    GUARDAR
  </button>
</form>