<mat-toolbar>Idioma</mat-toolbar>
<div class="container">
  <mat-card>
    <form [formGroup]="rForm" (submit)="submit()">
      <mat-form-field>
        <mat-label>Nivel</mat-label>
        <mat-select [compareWith]="compareLevel" name="level" formControlName="level">
          <mat-option *ngFor="let level of languageLevels" [value]="level">
            {{ level.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Idioma</mat-label>
        <mat-select [compareWith]="compareLevel" name="name" formControlName="name">
          <mat-option *ngFor="let name of languageNames" [value]="name">
            {{ name.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Fecha de obtención del título" formControlName="date">
        <mat-error>
          El formato debe ser DD/MM/AAAA
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
        GUARDAR
      </button>
    </form>
  </mat-card>
</div>