<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Añadir experiencia profesional</h1>
      <form [formGroup]="profileStudentExperienceForm" (ngSubmit)="save()">
        <label> Nombre de la empresa</label>
        <input
          type="text"
          formControlName="companie"
          class="form-control"
          name="companie"
        />
        <div class="text-danger" *ngIf="f.companie.errors && f.companie.touched">
          <div *ngIf="f.companie.errors.required">
            Nombre de empresa requerido.
          </div>
          <div *ngIf="f.companie.errors.pattern">
            No debe comenzar ni terminar en espacio, ni contener catacteres
            especiales.
          </div>
        </div>

        <label> Fecha de inicio:</label>
        <input
          type="text"
          formControlName="startdate"
          class="form-control"
          name="startdate"
        />
        <div
          class="text-danger"
          *ngIf="f.startdate.errors && f.startdate.touched"
        >
          <div *ngIf="f.startdate.errors.pattern">
            El formato debe ser DD/MM/AAAA.
          </div>
        </div>

        <label> Fecha de fin:</label>
        <input
          type="text"
          formControlName="enddate"
          class="form-control"
          name="enddate"
        />
        <div
          class="text-danger"
          *ngIf="f.enddate.errors && f.enddate.touched"
        >
          <div *ngIf="f.enddate.errors.pattern">
            El formato debe ser DD/MM/AAAA.
          </div>
        </div>

        <label> Puesto desempeñado</label>
        <input
          type="text"
          formControlName="job"
          class="form-control"
          name="job"
        />
        <div class="text-danger" *ngIf="f.job.errors && f.job.touched">
          <div *ngIf="f.job.errors.pattern">
            No debe comenzar ni terminar en espacio, ni contener catacteres
            especiales.
          </div>
        </div>

        <label> Tareas realizadas:</label>
          <textarea
            formControlName="tasks"
            class="form-control"
            name="competencies"
            id=""
            cols="30"
            rows="10"
          ></textarea>

        <button
          type="submit"
          class="btn"
          [disabled]="!profileStudentExperienceForm.valid"
        >
          Guardar
        </button>
        <p>Form Value: {{ profileStudentExperienceForm.value | json }}</p>
        <p>Form Status: {{ profileStudentExperienceForm.status }}</p>
      </form>
    </div>
  </div>
</div>
