<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Detalles de perfil de estudiante</h1>
      <form [formGroup]="profileStudentDetailForm" (ngSubmit)="save()">
        <h3>Datos personales</h3>
        <label> Nombre:</label>
        <input
          type="text"
          formControlName="firstname"
          class="form-control"
          name="firstname"
          required
        />

        <div *ngIf="f.firstname.errors">
          <div *ngIf="f.firstname.errors.required">
            Nombre requerido.
          </div>
          <div *ngIf="f.firstname.errors.pattern">
            No debe comenzar ni terminar en espacio, ni contener catacteres
            especiales.
          </div>
        </div>
        <label> Apellidos:</label>
        <input
          type="text"
          formControlName="lastname"
          class="form-control"
          name="lastname"
          required
        />

        <div *ngIf="f.lastname.errors">
          <div *ngIf="f.lastname.errors.required">
            Apellidos requeridos.
          </div>
          <div *ngIf="f.lastname.errors.pattern">
            No debe comenzar ni terminar en espacio, ni contener catacteres
            especiales.
          </div>
        </div>
        <label> Avatar:</label>
        <input
          type="file"
          formControlName="avatar"
          class="form-control"
          name="avatar"
        />

        <label> Fecha de nacimiento:</label>
        <input
          type="text"
          formControlName="birthdate"
          class="form-control"
          name="birthdate"
        />
        <div *ngIf="f.birthdate.errors" class="invalid-feedback">
          <div *ngIf="f.birthdate.errors.pattern">
            El formato debe ser DD/MM/AAA.
          </div>
        </div>
        <label> Teléfono:</label>
        <input
          type="text"
          formControlName="phone"
          class="form-control"
          name="phone"
        />

        <label> Teléfono alternativo:</label>
        <input
          type="text"
          formControlName="phone2"
          class="form-control"
          name="phone2"
        />

        <label> Tipo de documento:</label>
        <select formControlName="doctype" class="form-control" name="doctype">
          <option value="NIF/NIE">NIF/NIE</option>
          <option value="Pasaporte">Pasaporte</option>
          <option value="Otro">Otro</option>
        </select>

        <label> Número del documento:</label>
        <input
          type="text"
          formControlName="docnum"
          class="form-control"
          name="docnum"
        />

        <div *ngIf="f.docnum.errors">
          <div *ngIf="f.docnum.errors.docError">
            Número de documento incorrecto
          </div>
        </div>
        <div formGroupName="addressgroup">
          <h3>Dirección</h3>
          <label> Dirección:</label>
          <input
            type="text"
            formControlName="address"
            class="form-control"
            name="address"
          />

          <label> Provincia:</label>
          <select formControlName="state" class="form-control" name="state">
            <option value="Bizkaia">Bizkaia</option>
            <option value="Gipuzkoa">Gipuzkoa</option>
            <option value="Araba">Araba</option>
          </select>

          <!--El desplegable de municipio posiblemente se pueda resolver con un ngfor recorriendo una lista en función de la selección de provincia. De momento unos valores fijos-->
          <label> Municipio:</label>
          <select formControlName="city" class="form-control" name="city">
            <option value="Bilbao">Bilbao</option>
            <option value="Donostia">Donostia</option>
            <option value="Gazteiz">Gazteiz</option>
          </select>
        </div>
        <div formGroupName="moreinfo">
          <h3>Más datos</h3>
          <label> Sobre mí:</label>
          <textarea
            formControlName="about"
            class="form-control"
            name="about"
            id=""
            cols="30"
            rows="10"
          ></textarea>

          <label> Otras competencias:</label>
          <textarea
            formControlName="competencies"
            class="form-control"
            name="competencies"
            id=""
            cols="30"
            rows="10"
          ></textarea>

          <label> Licencia de conducir:</label>
          <input
            type="text"
            formControlName="drivinglicense"
            class="form-control"
            name="drivinglicense"
          />
        </div>
        <button
          type="submit"
          class="btn"
          [disabled]="!profileStudentDetailForm.valid"
        >
          Guardar
        </button>
        <p>Form Value: {{ profileStudentDetailForm.value | json }}</p>
        <p>Form Status: {{ profileStudentDetailForm.status }}</p>
      </form>
    </div>
  </div>
</div>
