<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Añadir idioma</h1>
      <form [formGroup]="profileStudentLanguageForm" (ngSubmit)="save()">
        
          <label> Idioma:</label>
          <select
            formControlName="language"
            class="form-control"
            name="language"
          >
            <option value="english">Inglés</option>
            <option value="catala">Catalán</option>
            <option value="spanish">Castellano</option>
            <option value="other">Otro</option>
          </select>
          <input *ngIf="f.language.value === 'other'"
            type="text"
            formControlName="languageother"
            class="form-control"
            name="languageother"
          />

          <label> Nivel:</label>
          <select
            formControlName="level"
            class="form-control"
            name="level"
          >
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="B1">B1</option>
            <option value="B2">B2</option>
            <option value="C1">C1</option>
            <option value="C2">C2</option>
          </select>

          <label> Fecha de obtención de título:</label>
          <input
            type="text"
            formControlName="date"
            class="form-control"
            name="date"
          />
          <div
            class="text-danger"
            *ngIf="f.date.errors && f.date.touched"
          >
            <div *ngIf="f.date.errors.pattern">
              El formato debe ser DD/MM/AAAA.
            </div>
          </div>

        <button
          type="submit"
          class="btn"
          [disabled]="!profileStudentLanguageForm.valid"
        >
          Guardar
        </button>
        <p>Form Value: {{ profileStudentLanguageForm.value | json }}</p>
        <p>Form Status: {{ profileStudentLanguageForm.status }}</p>
      </form>
    </div>
  </div>
</div>
