<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>
        Vista profile de estudiante
      </h1>
      <h2>Info de estudiante</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        <button
          routerLink="/admin/profile/student/1/detail"
          routerLinkActive="active"
          class="btn"
        >
          Editar detalles
        </button>
      </p>
      <h2>Tabla de Formación académica</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><button class="btn">
                Editar
              </button>
              <button class="btn">
                Borrar
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><button class="btn">
                Editar
              </button>
              <button class="btn">
                Borrar
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td><button class="btn">
                Editar
              </button>
              <button class="btn">
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        <button
          routerLink="/admin/profile/student/1/academic"
          routerLinkActive="active"
          class="btn"
        >
          Añadir Formación académica
        </button>
      </p>
      <h2>Tabla de Experiencia Laboral</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <button class="btn">
                    Editar
                  </button>
              <button class="btn">
                Borrar
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><button class="btn">
                Editar
              </button>
              <button class="btn">
                Borrar
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td><button class="btn">
                Editar
              </button>
              <button class="btn">
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        <button
          routerLink="/admin/profile/student/1/experience"
          routerLinkActive="active"
          class="btn"
        >
          Añadir Experiencia Laboral
        </button>
      </p>
      <h2>Tabla de idiomas</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><button class="btn">
                Editar
              </button>
              <button class="btn">
                Borrar
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><button class="btn">
                Editar
              </button>
              <button class="btn">
                Borrar
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td><button class="btn">
                Editar
              </button>
              <button class="btn">
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        <button
          routerLink="/admin/profile/student/1/languages"
          routerLinkActive="active"
          class="btn"
        >
          Añadir idioma
        </button>
      </p>
    </div>
  </div>
</div>
