<h1>
  Vista profile de estudiante
</h1>
<p>
  <button
    routerLink="/admin/profile/student/1/detail"
    routerLinkActive="active"
  >
    Editar detalles
  </button>
</p>
<p>
  <button
    routerLink="/admin/profile/student/1/academic"
    routerLinkActive="active"
  >
    Editar Formación académica
  </button>
</p>
<p>
  <button
    routerLink="/admin/profile/student/1/experience"
    routerLinkActive="active"
  >
    Editar Experiencia Laboral
  </button>
</p>
<p>
  <button
    routerLink="/admin/profile/student/1/languages"
    routerLinkActive="active"
  >
    Editar idiomas
  </button>
</p>
