<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>
        Vista profile de estudiante
      </h1>
      <h2>Info de estudiante</h2>
      <p>
        <button
          routerLink="/admin/profile/student/1/detail"
          routerLinkActive="active"
          class="btn"
        >
          Editar detalles
        </button>
      </p>
      <h2>Tabla de Formación académica</h2>
      <p>
        <button
          routerLink="/admin/profile/student/1/academic"
          routerLinkActive="active"
          class="btn"
        >
          Añadir Formación académica
        </button>
      </p>
      <h2>Tabla de Experiencia Laboral</h2>
      <p>
        <button
          routerLink="/admin/profile/student/1/experience"
          routerLinkActive="active"
          class="btn"
        >
          Añadir Experiencia Laboral
        </button>
      </p>
      <h2>Tabla de idiomas</h2>
      <p>
        <button
          routerLink="/admin/profile/student/1/languages"
          routerLinkActive="active"
          class="btn"
        >
          Añadir idioma
        </button>
      </p>
    </div>
  </div>
</div>
