<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p>
        <button
          routerLink="/admin/profile/student/1"
          routerLinkActive="active"
          class="btn"
        >
          Profile Student
        </button>
      </p>
      <p>
        <button
          routerLink="/admin/profile/company/1"
          routerLinkActive="active"
          class="btn"
        >
          Profile Company
        </button>
      </p>

      <p>
        <button routerLink="/offers" routerLinkActive="active" class="btn">
          Offers
        </button>
      </p>
      <p>
        <button routerLink="/config" routerLinkActive="active" class="btn">
          Config
        </button>
      </p>
    </div>
  </div>
</div>
