<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="alert alert-info">
        Esta vista detectará el tipo estudiante/empresa y mostrará el dashboard adecuado. Por el momento mostramos todos los enlaces al resto de vistas.
      </div>
      <p>
        <button
          routerLink="/admin/profile/student/1"
          routerLinkActive="active"
          class="btn"
        >
          Profile Student
        </button>
      </p>
      <p>
        <button
          routerLink="/admin/profile/company/2"
          routerLinkActive="active"
          class="btn"
        >
          Profile Company
        </button>
      </p>

      <p>
        <button routerLink="/offers" routerLinkActive="active" class="btn">
          Offers
        </button>
      </p>
      <p>
        <button routerLink="/config" routerLinkActive="active" class="btn">
          Config
        </button>
      </p>
    </div>
  </div>
</div>
