<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="alert alert-info">Esta vista es la misma para Job Offers y My Job offers (la ruta es diferente). Detectaremos qué elementos debemos mostrar en la tabla </div>
        <h1>
          Job Offers
        </h1>
        <h2>Tabla de Job offers</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><a href="/admin/offers/student/1/detail/100">Oferta 1</a></td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><a href="/admin/offers/student/1/detail/100">Oferta 2</a></td>
              <td>Thornton</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><a href="/admin/offers/student/1/detail/100">Oferta 3</a></td>
              <td>the Bird</td>
            </tr>
          </tbody>
        </table>
        <p>
          <button
            routerLink="/admin/offers/student/1/my"
            routerLinkActive="active"
            class="btn"
          >
            Ver mis ofertas
          </button>
        </p>
      </div>
    </div>
  </div>
  