<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Detalle de oferta</h1>
      <h3>Aspirantes</h3>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td><button class="btn">
                  Aceptar
                </button>
                <button class="btn">
                  Rechazar
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td><button class="btn">
                  Aceptar
                </button>
                <button class="btn">
                  Rechazar
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>      <button class="btn">
                  Aceptar
                </button>
                <button class="btn">
                  Rechazar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
