<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="alert alert-info">Esta vista es la misma para Job Offers y My Job offers (la ruta es diferente). Detectaremos qué elementos debemos mostrar en la tabla </div>
        <h1>
          Job Offers
        </h1>
        <h2>Tabla de Job offers</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td><button class="btn" routerLink="/admin/offers/company/2/detail/200"
                  routerLinkActive="active">
                    Editar
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td><button class="btn" routerLink="/admin/offers/company/2/detail/200"
                  routerLinkActive="active">
                    Editar
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td><button class="btn" routerLink="/admin/offers/company/2/detail/200"
                  routerLinkActive="active">
                    Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        <p>
          <button
            routerLink="/admin/offers/company/2/new"
            routerLinkActive="active"
            class="btn"
          >
            Nueva oferta
          </button>
        </p>
      </div>
    </div>
  </div>
  