<mat-toolbar>Idioma</mat-toolbar>
<div class="container">
  <mat-card>
    <form [formGroup]="rForm" (submit)="submit()">
      <mat-form-field>
        <mat-label>Opción</mat-label>
        <mat-select [compareWith]="compareOption" name="level" formControlName="option">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-vocational-form *ngIf="isSelectVocational()" [study]="study" (onSave)="saveOrUpdate($event)"
        (onExit)="exit($event)"></app-vocational-form>

      <app-university-degree-form *ngIf="isSelectUniversity()" [study]="study" (onSave)="saveOrUpdate($event)"
        (onExit)="exit($event)"></app-university-degree-form>
    </form>
  </mat-card>
</div>