
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Angular 6 Reactive Form Validation</h3>
        <form [formGroup]="signinForm" (ngSubmit)="login()">
          <label> Email:</label>
          <input type="text" formControlName="email" class="form-control" required />

          <label> Password:</label>
          <input type="password" formControlName="password" class="form-control" required />

          <button class="btn" type="submit" [disabled]="!signinForm.valid">Login</button>
          <p>
            <button class="btn" routerLink="/forgot-password" routerLinkActive="active">
              Remember Password
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>

