<div class="container">
  <mat-card>
    <img src="/assets/img/uoc_logo.png" />

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="errorLogin" class="container">
        <mat-card class="error">Hay un error en el email o la contraseña</mat-card>
      </div>

      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{
                  'is-invalid': submitted && loginForm.controls.email.errors
                }" />
        <mat-error>
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" class="form-control"
          [ngClass]="{
              'is-invalid': submitted && loginForm.controls.password.errors
            }" />
      </mat-form-field>

      <div class="form-group">
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">
          LOGIN
        </button>
        <button mat-button routerLink="/forgot-password">REMEMBER PASSWORD</button>
      </div>
    </form>
  </mat-card>
</div>