mat-card {
    max-width: 400px;
    margin: 2rem auto 0 auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    max-width: 250px;
    width: 100%;
}
button{
    margin-right: 1rem;
}
mat-form-field, input {
    width: 100%;
    margin-bottom: .6rem;
}
mat-form-field{
    margin-bottom: .5rem;
}